*{
    box-sizing: border-box;
}

@font-face {
    font-family: texto;
    src: url(./fonts/ITCAvantGardeStd-Bk.ttf);

  
    
}

@font-face {
    font-family: titulo;
    src: url(./fonts/Swiss\ 721\ Black\ Extended\ BT.ttf);
}

@font-face {
    font-family: subtitulo;
    src: url(./fonts/Adlinnaka.ttf);
}

html{
    background-color: #033d55;
    font-family: texto;
    /* porque cuando cambio la etiqueta de html a * el fondo del texto del main cambia al color del fondo que estoy asignando aquí? */
      


}


header p{
    text-align: right;
    color: #feba00;
    margin: 1px 113px 1px 1px;
    font-size: 21px;
    font-family: subtitulo;
    
    
}
 
#encabezado{
    display: flex;
}

a{
    text-decoration: none;
}
.navegador{
    margin: 92px 10px 1px 46px;
    justify-content: center;
    text-align: center;
    


}

header img{
    display: flex;
    width: 322px;
    margin: 1px 1px 1px 61px;

    

}
header a{
    margin: 34px;
    font-size: 23px;
    color: #feba00;
    font-family: subtitulo;
}

main{
    background-color: #feba00;
    width: 72%;
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px auto 0PX;
    border-radius: 20px;
    

    
    
}

h1{
    font-family: subtitulo;
    text-align: center;
    color: #033d55;
    margin: 20px auto 10px;
}

main img{
    width: 200px;
    padding: 0px;
    margin: 0px;

}

.fila1{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin:  0px 20px;
    

    
    
}
.fila2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 20px;
    
}

main nav{
    margin: 10px auto;
    background-color: white;
    border-radius: 7%;
    border: #033d55 solid 3.2px;
}

main p{
    margin: 0px auto 10px;
    text-align: center;
    font-size: 20px;
}