*{
    box-sizing: border-box;
}

@font-face {
    font-family: texto;
    src: url(./fonts/ITCAvantGardeStd-Bk.ttf);

  
    
}

@font-face {
    font-family: titulo;
    src: url(./fonts/Swiss\ 721\ Black\ Extended\ BT.ttf);
}

@font-face {
    font-family: subtitulo;
    src: url(./fonts/avgr65w.ttf);
}

html{
    background-color: #033d55;
    font-family: texto;
    /* porque cuando cambio la etiqueta de html a * el fondo del texto del main cambia al color del fondo que estoy asignando aquí? */

}

main{
    background-color: #feba00;
    width: 80%;
    height: 80vh;
    position: relative;
    top: 10vh;
    margin: auto;
    border-radius: 20px;
    padding: 2%;
}

img{
    width: 100%;
    
    position: relative;
}

#contenido{
    display: flex;

}

.texto{
    width: 10%;
    background-color: aqua;
    

}

.mapa{
    width: 90%;
    padding: 1% 1% 1% 3%;
}