*{
	box-sizing: border-box;
}

@font-face {
    font-family: texto;
    src: url(./fonts/ITCAvantGardeStd-Bk.ttf);

  
    
}

@font-face {
    font-family: titulo;
    src: url(./fonts/Swiss\ 721\ Black\ Extended\ BT.ttf);
}

@font-face {
    font-family: subtitulo;
    src: url(./fonts/avgr65w.ttf);
}

html{
    background-color: #033d55;
    font-family: texto;
    /* porque cuando cambio la etiqueta de html a * el fondo del texto del main cambia al color del fondo que estoy asignando aquí? */
      


}


header p{
    text-align: right;
    color: #feba00;
    margin: 1px 113px 1px 1px;
    font-size: 21px;
    font-family: subtitulo;
    
    
}
 
#encabezado{
    display: flex;
}

a{
    text-decoration: none;
}
.navegador{
    margin: 92px 10px 1px 46px;
    justify-content: center;
    text-align: center;
    


}

header img{
    display: flex;
    width: 322px;
    margin: 1px 1px 1px 61px;

    

}
header a{
    margin: 34px;
    font-size: 130%;
    color: #feba00;
    font-family: subtitulo;
}

main{
    background-color: #feba00;
    width: 72%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 15% 15% 30% 40%;
    grid-template-areas: 
    "h1 image image"
    "tit image image"
    "image1 image image"
    "p p h2";
    
    margin: 23px 30px 10px 74px;
    border-radius: 20px;
    padding-left: 75px;
    padding-top: 16px;
    padding-bottom: 40px;
    text-align: left;

    
}

main h1{
    font-family: titulo;
    font-size: 2.5em;
    color: #033d55;
    margin-bottom: 0px;
    margin-top: 10px;
    grid-area: h1;
    
}

main p{
    width: 90%;
    margin: 11px 0px 0px 0px;
    padding-top: 23px;
    text-align: justify;
    grid-area: p;
    
}

main img{
    width: 90vh;
    position: absolute;
    left: 41.1em;
    top: 12em;
    grid-area: image;

}

.banner{
    width: 40vh;
    position: absolute;
    left: 67.85em;
    top: 13.6em;
}

.tituloSimulado {
    width: 20rem;
    font-family: subtitulo;
    color: #033d55;
    font-size: 2.5em;
    margin: 0px;
    padding: 0px;
    grid-area: tit;

}

.logo1{
    width: 57vh;
    position: relative;
    left: 0.1em;
    top: 0em;
    grid-area: image1;
}

/* .logo1{
    font-family: titulo;
    color: #033d55;
    font-size: 4em;
    margin: 0px;
}

.logo2{
    font-family: titulo;
    color: #033d55;
    font-size: 8.1em;
    margin: 0px;
    
} */
main a{
    width: 16rem;
    height: 5rem;
    font-family: subtitulo;
    text-align: center;
    font-size: 100%;
    color: white;
    background-color: #033d55;
    border-radius: 8px;
    align-self: self-end;
    grid-area: h2;
}

/* @media screen and (max-width: 5000px) {
    body{
    width: 100%;
}
} */

/* @media screen and (max-width: 5000px) {
    *{
        width: 100%;
    }
} */
@media screen and (max-width: 900px) {
    main{
        width: 80%;
        height: 39rem;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 15% 24% 34%;
        grid-template-areas:
            "h1"
            "tit"
            "image1"
            "p"
            "h2";
        padding: 14px;  
    }
    main .fondo{
        display: none;
    }
    .tituloSimulado{
        width: 19rem;
    }
    .banner{
        display: none;
    }
    #encabezado{
        flex-direction: column;
    }
    .navegador {
        margin: 22px auto;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    main{
        width: 80%;
        height: 39rem;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 12% 24% 34%;
        grid-template-areas:
            "h1"
            "tit"
            "image1"
            "p"
            "h2";
        padding: 14px;  
    }
    .tituloSimulado{
        width: 19rem;
    }
    .navegador {
        margin: 22px auto;
        text-align: center;
    }
    header a{
        display: flex;
        flex-direction: column;
        margin: 12px;
    }

}